@media (min-width: 800px) { 

.btn{
	width:210px;
	height:210px;
	font-size: 72px;
}
.textview{
	width:832px;
	height:220px;
	font-size:50px;
}
#equal{
	height:422px;
}
#zero{
	width:422px;
}
 }

